<script setup lang="ts">
import { ref } from 'vue'

const rail = ref(true)
const drawer = ref(true)
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    class="bg-grey-darken-2"
  >
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="John Leider"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-home-variant-outline"
        title="Home"
        value="home"
        activator="parent"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-coffee-outline"
        title="Point of Sale"
        value="Point of Sale"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-store"
        title="Check Stock"
        value="checkstock"
        :to="{ name: 'datailCkeckStock' }"
      ></v-list-item>

      <v-list-group value="Check the Time">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-grey-darken-1"
            v-bind="props"
            prepend-icon="mdi-clipboard-clock-outline"
            title="Check the Time"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-archive-edit-outline"
          title="Check In - Out"
          value="Check In - Out"
          activator="parent"
          :to="{ name: 'checkedit' }"
        ></v-list-item>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-account-check "
          title="Status"
          value="status"
          activator="parent"
          :to="{ name: 'checkInCheckOut' }"
        ></v-list-item>
      </v-list-group>

      <v-list-group value="Salary">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-grey-darken-1"
            v-bind="props"
            prepend-icon="mdi-chart-timeline"
            title="Salary"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-account-box"
          title="Employee"
          value="employee"
          activator="parent"
          :to="{ name: 'employee' }"
        ></v-list-item>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-chart-histogram"
          title="Salary Payment"
          value="salary Payment"
          activator="parent"
          :to="{ name: 'salaryPayment' }"
        ></v-list-item>
      </v-list-group>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-btn block class="bg-grey-darken-3" prepend-icon="mdi-logout"> Logout </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>
