<script setup lang="ts">
import HomeOnboarding from '@/components/HomeOnboarding.vue'
import HomeCenter from '@/components/HomeCenter.vue'


</script>

<template>
  <v-parallax
    src="https://images.pexels.com/photos/15645111/pexels-photo-15645111/free-photo-of-close-up-of-woman-holding-a-cup-of-coffee-and-using-a-smartphone.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  >
    <div class="d-flex flex-column fill-height justify-center align-center text-white">
      <h1 class="text-h4 font-weight-thin mb-4"></h1>
      <h4 class="subheading">
        <HomeOnboarding></HomeOnboarding>
        <HomeCenter></HomeCenter>
      </h4>
    </div>
  </v-parallax>
</template>
