<script setup lang="ts">
import { ref, provide } from 'vue'
import { useMemberStore } from '@/stores/member'
import { userReceiptStore } from '@/stores/receipt'

const tel = ref('')
const name = ref('')
const tels = ref('')
const dialog = ref(false)
const memberStore = useMemberStore()
const receiptStore = userReceiptStore()

// const tel = ref<string>('');
// provide('tel', tel);

function onClick() {
  addmember()
  memberStore.searchMember(tel.value)
  tel.value = '';
  receiptStore.calReceipt()


}

function addmember() {
  let id = 11
  memberStore.currentMember = {
    id: id++,
    name: name.value,
    tel: tels.value,
  }
  memberStore.members.push(memberStore.currentMember)
  memberStore.currentMember.id = id + 1
  resetAdd()
}

function resetAdd() {
  name.value = ''
  tels.value = ''

}
</script>


<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="5">
        <v-text-field v-model="tel" density="compact" variant="solo" label="Search templates"
          append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick();"></v-text-field>
      </v-col>
      <v-col></v-col>
      <v-col cols="3" style="text-align: center">
        <v-card style="background-color: #ede1d2; height: 40px;">{{ memberStore.currentMember ? memberStore.currentMember.name : 'ไม่พบ'
        }}</v-card>

      </v-col>
      <v-col cols="3"><v-dialog v-model="dialog" persistent width="1024" style="padding-right: 10px;">
          <template v-slot:activator="{ props }">
            <v-btn color="" v-bind="props" class="text-right">
              <v-icon style="font-size: 36px;">mdi-account-plus</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">Add member</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field label="Name*" v-model="name" required></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field label="Tel.*" v-model="tels" required></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" variant="text" @click="resetAdd(); dialog = false">
                Close
              </v-btn>
              <v-btn color="green" variant="text" @click="dialog = false">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>
