<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt'
import type ReceiptDetailTable from './ReceiptDetailTable.vue'
import type POSView from './POSView.vue'
import { computed, inject, onMounted, ref, type Ref } from 'vue'
import MemberCard from './MemberCard.vue'

// const tel = ref(inject('tel'));
const cashes = inject('cashes')
const promp = computed(() => receiptStore.receipt?.total)
const creadit = inject('create') as Ref<number>
const currentTime = ref(new Date())
const day = currentTime.value.getDate()
const Round = ref(1)
const month = currentTime.value.getMonth() + 1
const year = currentTime.value.getFullYear()
const date = `${day}/${month}/${year}`
const time = currentTime.value.toLocaleTimeString()
const receiptStore = userReceiptStore()
const totalAmount = computed(() => {
  return receiptStore.receiptItems.reduce((sum, item) => {
    return sum + item.unit * item.price
  }, 0)
})

// const remainingAmount = (cash?.value || 0) +
//                        (promp?.value || 0) +
//                        (creadit?.value || 0) -
//                        totalAmount.value;
// function round(){
//   return Round++
// }
// const displayedRound = ref(1);

// onMounted(() => {
//   displayedRound.value = Round.value++; // กำหนดค่าเริ่มต้น
// });
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto">
    <v-card>
      <!-- <v-card-title class="text-h5">Receipt</v-card-title> -->
      <v-row><v-col></v-col></v-row>
      <v-row>
        <v-col>Date: {{ date }}</v-col>
        <v-col>Time: {{ time }}</v-col>
      </v-row>
      <v-row>------------------------------------------------------------------------</v-row>
      <div
        style="
          margin-top: 10px;
          margin-bottom: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        "
      >
        SALES RECEIPT
      </div>
      <br />
      <div style="text-align: center">1st Floor,Sonehti Bank,Quaid-e-Azam Road, Gojra.</div>
      <br />
      <div style="text-align: center">Contact No : 789-657-7860</div>
      <br />
      <div>Bill No:{{ Round }}</div>
      <v-row>------------------------------------------------------------------------</v-row>
      <v-row>
        <v-card>
          <v-table fixed-header height="500px" style="overflow: auto">
            <thead>
              <tr>
                <!-- <th class="text-center">ID</th> -->
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of receiptStore.receiptItems" :key="item.id">
                <!-- <td class="text-center">{{ item.id }}</td> -->
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center">{{ item.unit }}</td>
                <td class="text-center">{{ item.unit * item.price }} ฿</td>
              </tr>
              <tr>
                <td>
                  <div
                    style="
                      font-size: 28px;
                      height: 100px;
                      width: 100px;
                      padding-left: auto;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    Total:
                  </div>
                </td>
                <td style="font-size: 28px; text-align: right">
                  {{ receiptStore.receipt?.total }} ฿
                </td>
              </tr>
              <tr>
                <td>
                  <div style="text-align: center">Cash/Prompay/Credit:</div>
                </td>
                <td style="text-align: right; flex: 1" v-if="receiptStore.receipt?.total >= 300">
                  {{ cashes || promp - 50 || creadit - 50 }} ฿
                </td>
                <td style="text-align: right; flex: 1" v-else>
                  {{ cashes || promp || creadit - 50 }} ฿
                </td>
              </tr>
              <tr>
                <td>Paid amount:</td>
                <td style="text-align: right; flex: 1" v-if="receiptStore.receipt?.total >= 300">
                  {{ receiptStore.receipt?.total - 50 }} ฿
                </td>
                <td style="text-align: right; flex: 1" v-else>
                  {{ receiptStore.receipt?.total }} ฿
                </td>
              </tr>
              <tr>
                <td>Change:</td>
                <td style="text-align: right; flex: 1" v-if="receiptStore.receipt?.total >= 300">
                  {{
                    isNaN(Math.max(0, (cashes as number) - (receiptStore.receipt?.total || 0) - 50))
                      ? 0
                      : Math.max(0, (cashes as number) - (receiptStore.receipt?.total || 0) - 50)
                  }}
                  ฿
                </td>
                <td style="text-align: right; flex: 1" v-else>
                  {{
                    isNaN(Math.max(0, (cashes as number) - (receiptStore.receipt?.total || 0)))
                      ? 0
                      : Math.max(0, (cashes as number) - (receiptStore.receipt?.total || 0))
                  }}
                  ฿
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <!-- <v-btn color="red" variant="text" @click="receiptStore.receiptDialog = false">
          Cancel
        </v-btn> -->
        <v-btn
          color="green"
          variant="text"
          @click="
            () => {
              receiptStore.receiptDialog = false
              Round++
              receiptStore.clear()
              cashes = 0
              // MemberCard.tels.value = '';
              // tel = ref('');
            }
          "
        >
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script></script>
