<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt'
const num = -50
const receiptStore = userReceiptStore()
</script>
<template>
  <v-container>
    <v-row no-gutters style="color: #ede1d2; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
      <v-col cols="6" > ยอดก่อนหัก </v-col>
      <v-col cols="6">
        {{ receiptStore.receipt?.totalBefore }}
      </v-col>
      <v-col cols="6"> ส่วนลดสมาชิก </v-col>
      <v-col cols="6">
        {{ receiptStore.receipt?.memberDiscount }}
      </v-col>
      <v-col cols="6"> ส่วนลด 50 ฿ ซื้อครบ 300 ฿ </v-col>
      <v-col cols="6" v-if="receiptStore.receipt?.totalBefore >= 300">
        {{ -50 }}
      </v-col>
      <v-col cols="6" v-else>
        {{ 0 }}
      </v-col>
      <v-col cols="6"> ยอดรวม </v-col>
      <v-col cols="6" v-if="receiptStore.receipt?.totalBefore >= 300">
        {{ receiptStore.receipt?.total - 50 }}
      </v-col>
      <v-col cols="6" v-else>
        {{ receiptStore.receipt?.total }}
      </v-col>
    </v-row>
  </v-container>
</template>
